RewriteEngine On
RewriteCond %{HTTP_HOST} ^tutiendaenlinea\.online$ [OR]
RewriteCond %{HTTP_HOST} ^www\tutiendaenlinea\.online$
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://tutiendaenlinea.online/$1 [R=301,L,NE]

